---
/**
 * Product Showcase content template
 * Demonstrates using size-specific assets
 */
interface Props {
  banner: any;
  size: any;
  sizeId: string;
  sizeAssets?: any;
}

const { banner, size, sizeId, sizeAssets = {} } = Astro.props;
---

{sizeAssets.background && (
  <img src={sizeAssets.background} alt="" class="background-image" />
)}

{sizeAssets.product && (
  <img src={sizeAssets.product} alt="Product" class="product-image" />
)}

{banner.content.eyebrow && (
  <p class="eyebrow">{banner.content.eyebrow}</p>
)}
<p class="headline">{banner.content.headline}</p>
<p class="subhead">{banner.content.subhead}</p>
<button class="cta-button">{banner.content.cta}</button>
